.footer {
    position: relative;
    display: flex;
    min-height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 250px;
    overflow: hidden;
  }
  
  .footerBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .footerContent {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    z-index: 1;
  }
  
  .footerLogo {
    width: 31px;
    aspect-ratio: 1.11;
    object-fit: contain;
    margin-bottom: 80px;
    
  }
  
  .footerTitle {
    color: #46721f;
    font: 600 40px Atma, sans-serif;
    white-space: nowrap;
    margin-bottom: 120px;
  }
  
  @media (max-width: 991px) {
    .footer {
      max-width: 100%;
      padding: 0 20px 100px;
    }
  
    .footerTitle {
      white-space: normal;
    }
  }