.progressBarWrapper {
    align-self: stretch;
    display: flex;
    margin-top: 16px;
    gap: 10px;
  }
  
  .progressStep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 10px;
  }
  
  .progressIndicator {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    min-height: 5px;
    width: 100%;
  }
  
  .active {
    background-color: rgba(146, 227, 169, 1);
  }